




.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}
.correct{
    border: #37ff00;
    border-width: 3px;
    border-style: solid;
}
.close{
    border: #fff700;
    border-width: 3px;
    border-style: solid;
}