@import '_flex';
@import '_board';
@import '_colors';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Shadows Into Light", cursive;
  }
body{
    min-width: 100vw;
}
.top{
    min-height: 25px;
}
.nav{
    min-height: 50px;
}
.navbox{
    max-width: 200px;
    max-height: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.MaxWH{
    width: 100%;
    height: 100%;
}
.disepear{
    display: none;
}